@media only screen and (max-width: 768px) {
  section {
    width: 80%;
  }
}
@media only screen and (max-width: 555px) {
  section {
    width: 97%;
  }
}
@media only screen and (max-width: 425px) {
  section {
    width: 100%;
  }
}
